  7 ! special
  8 *.foreground:   #ffffff
  9 *.background:   #222222
 10 *.cursorColor:  #c5c8c6
 11 
 12 ! black
 13 *.color0:       #1d1f21
 14 *.color8:       #969896
 15 
 16 ! red
 17 *.color1:       #bd93f9
 18 *.color9:       #bd93f9
 19 
 20 ! green
 21 *.color2:       #ffffff
 22 *.color10:      #ffffff
 23 
 24 ! yellow
 25 *.color3:       #bd93f9
 26 *.color11:      #bd93f9
 27 
 28 ! blue
 29 *.color4:       #bd93f9
 30 *.color12:      #bd93f9
 31 
 32 ! magenta
 33 *.color5:       #a36ac7
 34 *.color13:      #a36ac7
 35 
 36 ! cyan
 37 *.color6:       #bd93f9
 38 *.color14:      #bd93f9
 39 
 40 ! white
 41 *.color7:       #c5c8c6
 42 *.color15:      #ffffff
 43 
 44 
 45 rofi.font: Source Code Pro 16
 46 
 47 rofi.opacity:                        50
 48 rofi.width:                          100
 49 rofi.lines:                          13
 50 rofi.font:                           clear sans 13
 51 rofi.color-normal:                   argb:00000000,  #888888, argb:00000000,  #fff,      #000
 52 rofi.color-urgent:                   argb:00000000,  #fff, argb:00000000,  #fff,  #f    ff
 53 rofi.color-active:                   argb:00000000,  #fff, #fff,  #fff,  #fff
 54 rofi.color-window:                   #222,  #222, #222
 55 rofi.location: 1
